/* lookup */


/* Create a column layout with Flexbox */
.Boxrow {
    display: flex;
/*    border: 10px solid black;*/
    padding: 20px;
}

/* Left column (menu) */
.Boxleft {
  flex: 55%;
  padding: 15px 0;
}

.Boxleft h2 {
  padding-left: 8px;
}

/* Right column (page content) */
.Boxright {
    flex: 45%;
    padding: 15px;
/*    background-color: white;*/
}

/* Style the search box */
#mySearch {
  width: 100%;
  font-size: 18px;
  padding: 11px;
  border: 1px solid #ddd;
}

/* Style the navigation menu inside the left column */
#myMenu {
  list-style-type: none;
  padding: 0px;
  margin: 0px;
}

#myMenu li a {
  padding: 12px;
  text-decoration: none;
  color: black;
  display: block
}

#myMenu li a:hover {
  background-color: #FFF4D6;
}